.box {
  font-size: 2rem;
  opacity: 0;
  animation: showResult 0.5s linear 2.3s forwards;

  & button {
    background-color: var(--white);
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: var(--600);
    color: var(--dark-text);
  }
}

@keyframes showResult {
  to {
    opacity: 1;
  }
}
