:root {
  /* primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --white: #fff;

  /* Background */
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  /* font weight */
  --fw-600: 600;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100dvh;
  padding: 20px 0;
  background-image: radial-gradient(var(--radial-gradient));
  font-family: "Barlow Semi Condensed", sans-serif;
}

p {
  color: var(--white);
  font-weight: var(--fw-600);
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.8rem;
}
